{{model.content}}

<ul>
  Author: {{model.author}}
  <br>
  Notes: {{model.notes}}
</ul>

{{update-question update='update' question=model}}

{{new-answer saveAnswer='saveAnswer' question=model}}

{{#each model.answers as |answer|}}
{{answer.response}} by {{answer.name}} on {{current-date}}
<button {{action 'deleteAnswer' answer}}>Delete</button>
{{/each}}
