<div class='question'>
  <ul>
    <li>{{model.content}}</li>
    <li>asked by {{model.author}}</li>
    <li><i>{{model.notes}}</i></li>
  </ul>
</div>

{{update-question update='update' question=model}}

<br>
<br>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      {{#each model.answers as |answer|}}
        <ul>
          <li>{{answer.response}} Submitted by {{answer.name}} on {{current-date}}
            <button class="btn btn-default btn-xs"{{action 'deleteAnswer' answer}}><span class='glyphicon glyphicon-trash'></span></button>
          </li>
        </ul>
      {{/each}}
    </p>

    {{new-answer saveAnswer='saveAnswer' question=model}}
  </div>
</div>
