<h1>{{model.content}}</h1>

{{single-question question=model}}


 {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}

<!-- {{model.author.name}} -->

{{new-answer question=model}}

<!-- update="update" destroyAnswer="destroyAnswer" -->
