{{model.content}}

<ul>
  Author: {{model.author}}
  <br>
  Notes: {{model.notes}}
</ul>

{{update-question update='update' question=model}}

{{new-answer saveAnswer='saveAnswer' question=model}}

{{#each model.answers as |answer|}}
{{answer.response}} by {{answer.name}}
{{/each}}


<!-- <h1>{{model.content}}</h1>

{{single-question question=model}}


 {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}


{{new-answer question=model}} -->
